.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.border_radious_20{
  border-radius: 20px;;
}
.btn-head{
  color: #6c757dd6 !important;
    border-color: #6c757dd6 !important;
}
.btn_pdd{
  padding: 7px 10px 7px 10px !important;
}
.h-500{
  height: 500px;
}
.pt-140{
  padding-top: 140px;
}
.order-btn{
  position: absolute !important;
  left: 0;
  right: 0;
  margin: auto;
  color:white;
  background-color: rgb(70, 159, 243);
}
.font1{
  font-family: 'Segoe UI';
}

.font2{
  font-family: 'Segoe UI';
  font-weight: bold;
}
.fontsize1{
  font-size: 14px;
}

.fontsize2{
  font-size: 16px;
}
.fontsize3{
  font-size: 12px;
}
.fontsize4{
  font-size: 20px;
}

.ftheading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.cftheading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.ftcardheading{
  text-align: center;
  font-size: 22px;
}
.ftcardtext{
text-align: center;
font-size: 14px;
}
.prcardheading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:500;
  font-size: 24px;
  color: rgb(91, 96, 105);
}
.viewallbtn{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#4abdde;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.producthead{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#5d7184;
font-weight: 600;
text-align: left;
padding-right: 15px;
}
.proddescribe{
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#7494af;
font-weight: 400;
text-align: left;

align-content: center;

}
.prodprice{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#5d7184;
font-weight: 500;
text-align: left;

align-content: left;
padding-bottom: 0;
margin-bottom: 10px;

}
.addbtn{
 
  color:#4abdde;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  font-weight: 500;
border:1px solid #dcebf0;
box-shadow: none;
}
.discountbtn{
color:#f44242;
}
.cbtn
{
  text-transform: capitalize;
}
@media only screen and (min-width: 550px){
 
.stylebuttonl{
  box-shadow: none;
  color : gray;
width: 100%;
border-radius:5rem
}
.stylebuttoncoll{
  align-items:stretch;
justify-content: space-between;
  width: 100%;
  display: flex
}
}
@media only screen and (min-width: 100px) and (max-width: 550px){
  .stylebuttonl{
    box-shadow: none;
    color : gray;

  border-radius:5rem
  }
  .w-50{
    width: 50%;
  }
  .mrt0{
    margin-right: 0;
  }
  .w-35{
    width:35%;
  }
  .w-65{
    width: 65%;
  }
  .imgshrink{
    width: 15%;
  }
  .fhshrink{
    font-size: 1.5rem;
  }
  .fbshrink{
   font-size: 0.75rem;
   padding: 1rem;
  }
}
.contentoverflow{
  overflow: hidden;

text-overflow: ellipsis;
word-wrap: break-word;
display: -webkit-box;

-webkit-box-orient: vertical;

-webkit-line-clamp: 1;

max-height: 3em;
}
.cardradius{
  border-radius: 0.75rem;
}
.whitecolor{
  background-color: white;
}
.width100{
  width: 100%;
}
.sidebox{
  margin-top: '20px';
  border-radius:'0.5rem'
}
body{
  font-family: 'Segoe UI',sans-serif;
}
.pmclass{
  display: inline-block;
  height: 1.5rem;
  width: 85px;
  border: 1px solid #d4d5d9;
  color: #6e7477;
  font-size: .9rem;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;

}
.pclass{
  position: absolute;
right: 0;
top: 0;
width: 20%;
display: inline-block;
opacity: 1;
transform: translateZ(0);
cursor: pointer;

}
.mclass{
  position: absolute;
left: 0;
top: 0;
width:20%;
display: inline-block;
opacity: 1;
transform: translateZ(0);
cursor: pointer;

}
.nclass{
  position: absolute;
left: 20%;
top: 0;
width: 60%;
display: inline-block;
opacity: 1;
transform: translateZ(0);
cursor: pointer;
}
.addbtn:hover, .addbtn:focus, .addbtn:active{

  color:#4abdde;
}
.nav-tabs .nav-link {
  border-color: #909497;
  color:#616161;
  background-color: #e4dede ;

}
.nav-tabs .nav-link:after {
  border-color: #909497;
  color:#616161;
  background-color: #e4dede ;
  right: -5px;
  top: 2px;
  font-family: 'Segoe UI';
}

.nav-tabs .nav-link.active {
  border-color:#909497;
  
  color:#33b5e5;
  background-color: white;
 
}
.pdescribe{
  font-size: 14px;
}
ul li::marker{
  color: #9e9e9e;
}
.productcard{
  font-size: 12px;
text-align: center;
color: #fff;
background-color:#ff3547;
position: absolute;
padding: 2px 10px 3px 8px;

left:15px;
margin-top:-12px;
}
.productcard::after{
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  top: 0;
  border-top: 11px solid transparent;
  border-left: 9px solid #ff3547;
  border-bottom: 11px solid transparent;

}
.rightslantdiv{
 
text-align: center;
color: #fff;
background-color:rgb(51, 181, 229);
position: absolute;
padding: 2px 10px 3px 8px;


}
.rightslantdiv::after{
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  top: 0;
  border-top: 29px solid transparent;
	border-left: 30px solid rgb(51, 181, 229);
  

}

.custom-select option:not(:checked){
  color: #495057;
  background-color: white;
}
.h-85{
  height: 85%;
}
.h-15{
  height: 15%;
}
.h-80{
  height: 80%;
}
.h-20{
  height: 20%;
}
.h-10{
  height: 10%;
}
.h-90{
  height: 90%;
}
.stylecircle{
  background-color: #b1b5bd;

padding: 1rem;

height: 100%;

height: 3.5rem;
border-radius: 50%;
}
.plusdiv{
  width:100%;
  display: inline;
  
}
.plusdiv::after{
  background-color: #e0e0e0;
content: "";
display: inline-block;
height: 1px;
position: relative;
vertical-align: middle;
width: calc(100% - 75px);
margin-left: 55px;
}
#defaultFormCardemailEx::placeholder{
  color: white;
}
#defaultFormCardPasswordEx::placeholder{
  color: white;
}